@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
:root {
  --white: #ffffff;
  --primary-blue: #0688fa;
  --secondary-blue: #eff8ff;
  --light-pink: #fff5f5;
  --blue-black: #002240;
  --egg-blue: #537089;
  --grey-scale: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

h2 {
}

h3 {
  font-weight: bold;
  color: var(--blue-black);
  padding: 6px 0 13px 0;
}

/* Nav styling */
nav {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  padding: 25px 27px;
  text-align: left;
}

.container {
  padding: 0 26px;
  margin: 0 auto;
  max-width: 100%;
}

.btn {
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 15px 25px;
  letter-spacing: 2px;
  width: 272px;
  height: 49px;
  border-radius: 5px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section_title {
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  color: var(--blue-black);
  text-align: center;
  margin: 33px 0 0 0;
}

.text--white {
  color: var(--white);
}

.hero {
  color: var(--blue-black);
}

.hero__wrapper {
  height: 300px;
  margin: 0 0 25px 0;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__header {
  font-weight: bold;
  font-size: 32px;
  margin: 0 0 10px 0;
  line-height: 32px;
}

.hero__text {
  display: flex;
  flex-direction: column;
}

.hero__text div {
  margin-left: 56px;
}

.hero__text div p {
  padding: 0 0 30px 0;
  font-size: 16px;
  line-height: 24px;
}

.culture {
  margin: 10px 0 0 0;
  padding: 39px 0 22px 0;
  color: var(--egg-blue);
}

.culture__title {
  padding: 0 0 13px 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  color: var(--blue-black);
}

.mission img {
  margin: 27px 0 1px 0;
}

.join__us {
  margin: 23px 0 0 0;
  color: var(--blue-black);
  padding-top: 10px;
}

.join__us button {
  margin: 22px 0 0 0;
  color: var(--white);
  background-color: var(--primary-blue);
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.progress {
  padding-top: 33px;
}

.timeline {
  background: #eff8ff;
  margin-top: 35px;
  padding-bottom: 50px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 817px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: blue;
  top: 0;
  bottom: 0;
  left: 35%;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.left {
  float: left;
  width: 30%;
  padding-right: 5px;
  position: relative;
  padding-top: 33px;
  margin-left: 39px;
}

.left::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: 26%;
  background-color: white;
  background: url("./images/mail.png");
  border: 1px solid #ffffff;
  /* top: 67px; */
  border-radius: 50%;
  z-index: 1;
}

.date {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-blue);
}

.right {
  float: right;
  width: 55%;
  line-height: 24px;
  padding-top: 33px;
}

.right__text {
  width: 157px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue-black);
}

.future {
  padding: 10px 0 30px 0;
}

.btn--team {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

.btn--demo {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 33px 17px;
  background-color: var(--white);
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--blue-black);
  /* height: 43px; */
}

.btn--use {
  border: 1px solid var(--white);
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.box {
  background: var(--white);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-top: 20px;
  width: 271px;
  height: 199px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
  line-height: 34px;
  color: var(--blue-black);
}

.box h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
}

.box--small {
  background: var(--white);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 145.79px;
  margin: 20px auto;
}

.offices {
  background-image: url(./images/Vector-19-mobile.svg);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100%;
  position: relative;
  margin-top: 33px;
}

.offices_title {
  padding-top: 33px;
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  text-align: center;
  color: var(--blue-black);
  margin-bottom: 20px;
}

.investors {
  background-image: url(./images/Mask-Group-mobile.svg);
  background-repeat: no-repeat;
  background-position-y: 0%;
  padding-bottom: 27px;
}

.investors__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  color: var(--blue-black);
  text-align: center;
  padding: 81px 0 0 0;
}

.future {
  background-image: url(./images/Vector-18.png);
  background-repeat: no-repeat;
  padding-bottom: 63px;
  background-size: 100% 100%;
}

.future__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
  padding-top: 61px;
}

.footer-logo {
  align-self: flex-start;
  padding-bottom: 28px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding: 44px 17px 60px 24px;
}

.footer__list--top,
.footer__list--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__subhead {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--blue-black);
}

.contact p,
ul li {
  font-size: 16px;
  line-height: 32px;
  color: var(--blue-black);
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
}

.bottom__container {
  background-color: var(--grey-scale);
  height: 318px;
  background: url(images/footer-mobile\.svg) no-repeat;
  background-position-y: 100%;
  background-size: 100%;
  background-color: #f4f4f4;
}
.bottom--level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 35px 0;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 39px 0 21px 0;
}

.socials img {
  padding: 0 9px;
}

.reserved p {
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: var(--blue-black);
}

.legal h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: var(--blue-black);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 69px;
  }

  .hide {
    display: none;
  }

  .hero__text {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
  }

  .culture {
    text-align: center;
  }

  .flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .mission:not(:last-child) {
    padding-right: 41px;
  }

  .culture__subtext {
    padding-bottom: 45px;
    width: 429px;
    margin: 0 auto;
    text-align: center;
  }

  .mission p {
    text-align: left;
  }

  .join__us {
    width: 381px;
    margin: 46px auto;
  }

  .progress {
    padding: 35px 69px 51px 69px;
  }

  .section_title {
    padding-bottom: 44px;
  }

  .timeline {
    padding: 67px 62px;
    height: 732px;
  }

  .offices {
    background-image: url(./images/Vector-19-tablet.png);
    height: 423px;
    padding-left: 87px;
    padding-right: 80px;
  }

  .offices_title {
    padding-top: 55px;
    padding-bottom: 45px;
  }

  .box {
    width: 271px;
    height: 199px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .investors {
    background: url(./images/Mask-Group-tablet.svg);
    background-repeat: no-repeat;
    background-size: 100;
    height: 595px;
    padding-bottom: 64px;
  }

  .investors__flex {
    display: grid;
    grid-template-columns: 272px 272px;
    justify-content: center;
    grid-gap: 14px 54px;
  }

  .investors__title {
    padding: 25px 0 50px 0;
  }

  .box--small {
    width: 272px;
    height: 145.79px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .future {
    background: var(--white);
    padding: 20px 20 22px 24px;
  }

  .future__container {
    background: var(--primary-blue);
    margin: 0 24px;
    border-radius: 5px;
    height: 215px;
  }

  .future__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 54px 72px 64px 61px;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__list--top {
    margin-bottom: 35px;
  }

  .saleswhale {
    margin-right: 73px;
  }

  .top--level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom__container {
    padding: 45px 80px 33px 80px;
    height: 231px;
    background: url(images/footer-waves-tablet.png) no-repeat;
    background-position-y: 100%;
    background-size: 100%;
    background-color: #f4f4f4;
  }

  .bottom--level {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 0 22px 0;
  }

  .legal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 131px;
  }

  .socials {
    margin: 0;
  }

  .reserved p {
    text-align: left;
  }

  .bottom__line {
    background-image: url("./images/footer-waves-tablet.png");
    height: 88.59px;
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 110px;
  }

  nav {
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__center {
    display: flex;
    justify-content: space-around;
    width: 387px;
  }

  .nav__end {
    width: 262px;
    display: flex;
  }

  .hero__wrapper {
    margin: 60px 0;
  }

  .logo img {
    height: 32px;
    width: 182px;
    margin-left: 110px;
  }

  .hero__header {
    font-size: 58px;
    line-height: 62px;
  }

  .hero__text div p {
    padding: 0 0 38px 0;
    font-size: 18px;
    line-height: 32px;
    color: var(--blue-black);
  }

  .culture__title {
    font-weight: bold;
    font-size: 58px;
    line-height: 62px;
    letter-spacing: -0.01em;
  }

  .box--small {
    width: 528px;
    height: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 67px auto;
  }

  .box {
    width: 528px;
    height: 283px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .offices {
    background-image: url(./images/Vector-19-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 100%;
    position: relative;
    margin-top: 33px;
    height: 594px;
  }

  .investors {
    background-image: url(./images/Mask-Group-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 0%;
    padding-bottom: 27px;
    background-size: 100%;
    height: 954px;
  }

  .investors__title {
    font-weight: bold;
    font-size: 58px;
    line-height: 62px;
    letter-spacing: 0.01em;
    color: var(--blue-black);
  }

  .investors__flex {
    display: grid;
    grid-template-columns: 528px 528px;
    justify-content: center;
    grid-gap: 10px 67px;
  }

  .future {
    height: 469px;
    padding: 31px 64px 39px 62px;
  }

  .future__container {
    height: 398.53px;
    padding-top: 78px;
  }

  .future__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
  }

  .btn--demo {
    width: 272px;
    height: 62px;
    background: var(--white);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .btn--use {
    width: 272px;
    height: 62px;
    background: var(--primary-blue);
    mix-blend-mode: normal;
  }

  .footer__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list--top {
    margin-right: 41px;
  }

  .saleswhale {
    margin-right: 45px;
  }

  .company {
    margin-right: 25px;
  }

  .bottom__container {
    height: 312px;
    background: url(images/footer-waves-desktop.png) no-repeat;
    background-position-y: 100%;
    background-size: 100%;
    background-color: #f4f4f4;
  }
}
