@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --primary-blue: #0688fa;
  --secondary-blue: #eff8ff;
  --light-pink: #fff5f5;
  --blue-black: #002240;
  --egg-blue: #537089;
  --grey-scale: #f4f4f4;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

h2 {
}

h3 {
  font-weight: bold;
  color: var(--blue-black);
  padding: 6px 0 13px 0;
}

/* Nav styling */
nav {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  padding: 25px 27px;
  text-align: left;
}

.container {
  padding: 0 26px;
  margin: 0 auto;
  max-width: 100%;
}

.btn {
  background-color: transparent;
  display: inline-block;
  color: #000000;
  cursor: pointer;
  border: none;
  padding: 15px 25px;
  letter-spacing: 2px;
  width: 272px;
  height: 49px;
  border-radius: 5px;
  margin-bottom: 22px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section_title {
  font-weight: bold;
  font-size: 28px;
  line-height: 31px;
  color: var(--blue-black);
  text-align: center;
  margin: 33px 0 0 0;
}

.text--white {
  color: var(--white);
}

.hero {
  color: var(--blue-black);
}

.hero__wrapper {
  height: 300px;
  margin: 0 0 25px 0;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__header {
  font-weight: bold;
  font-size: 32px;
  margin: 0 0 10px 0;
  line-height: 32px;
}

.hero__text {
  display: flex;
  flex-direction: column;
}

.hero__text div p {
  padding: 0 0 30px 0;
}

.hero__text p {
  font-size: 16px;
  line-height: 24px;
}

.culture {
  margin: 10px 0 0 0;
  padding: 39px 0 22px 0;
  color: var(--egg-blue);
}

.culture h2 {
  padding: 0 0 13px 0;
}

.mission img {
  margin: 27px 0 1px 0;
}

.join__us {
  margin: 23px 0 0 0;
  color: var(--blue-black);
}

.join__us button {
  margin: 22px 0 0 0;
  color: var(--white);
  background-color: var(--primary-blue);
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.future {
  padding: 89px 0 30px 0;
}

.btn--demo {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 33px 0;
}

.btn--use {
  border: 1px solid red;
}

.box {
  background: var(--white);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin: 20px 0 17px 0;
  width: 271px;
  height: 199px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 17px;
  line-height: 34px;
  color: var(--blue-black);
}

.box h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
}

.box--small {
  background: var(--white);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 145.79px;
  margin: 20px auto;
}

.top--level {
  display: flex;
  flex-direction: column;
  padding: 44px 0 60px 0;
}

.footer__list--top,
.footer__list--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom__container {
  background-color: var(--grey-scale);
}
.bottom--level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 35px 0;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 39px 0 21px 0;
}

.socials img {
  padding: 0 9px;
}

.reserved p {
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: var(--blue-black);
}

.terms h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: var(--blue-black);
  text-transform: uppercase;
}

.footer {
  background-image: url("./images/footer-mobile\ .svg");
  height: 76px;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  .hero__text {
    display: flex;
    flex-direction: row;
  }

  .box--small {
    width: 272px;
    height: 145.79px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 67px auto;
  }

  .box {
    width: 271px;
    height: 199px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .top--level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom--level {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .box--small {
    width: 528px;
    height: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 67px auto;
  }

  .box {
    width: 528px;
    height: 283px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
